body {
  font-family: 'Bahnschrift SemiCondensed', sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 420px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  color: #007BFF;
  padding: 10px 0;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
}

#pdfArea h3 {
  text-align: center;
  color: #007BFF;
  padding: 10px 0;
  font-size: 24px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-bottom: 10px;
}

table th, table td {
  padding: 8px;
  text-align: left;
}

input {
  width: 80px;
  padding: 5px;
}

button {
  background-color: #B9E4C9;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
  font-size: 18px; /* বড় করা হয়েছে */
}
